@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
/* Navebar Css Start */
.sidebar {
  top: 0;
  position: fixed;
  font-size: 10px;
  left: 0;
  width: 20%;
  height: 100%;
  background: #230132;
  transition: all 0.5s ease;
  z-index: 100;
  overflow-y: auto;
}
.sidebar ul {
  margin-top: 0;
}
.headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #3b1f47;
  padding: 1rem;
}
.headerText h1 {
  color: white;
  font-family: 'Kaushan Script', cursive;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 16px;
  color: white;
  padding-left: 28px;
  box-sizing: border-box;
  /* border-bottom: 1px solid #fff; */
  transition: 0.4s;
  font-family: 'Poppins';
}

.sidebar > ul > li {
  padding-bottom: 5px;
}
ul {
  padding-left: 0;
}

ul li:hover a {
  padding-left: 33px;
  color: orangered;
}
.sidebar ul a i {
  margin-right: 1rem;
}
/* Navebar Css End */

/* Home Page Css Start */
.mainDashboardHeading {
  display: flex;
  align-items: center;
  margin-left: 20%;
}
.innerDashboardHeading {
  width: 55%;
  margin-top: 3%;
  margin-left: 3%;
}
.innerDashboardHeading h1 {
  font-family: 'Poppins';
  font-weight: bold;
  color: #3b1f47;
}
.innerDashboardHeading h1::after {
  content: ' ';
  display: block;
  width: 100px;
  height: 2px;
  background-color: #000;
}
.main-outer-div {
  margin-left: 20%;
}
.home-outer-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-top,
.home-middle,
.home-bottom {
  width: 95%;
}
.home-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
.home-top-left,
.home-top-right {
  width: 45%;
  height: 10rem !important;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  height: 7rem;
  /* background: #fcfcfc; */
  /* background: rgb(2, 0, 36) !important;
  background: linear-gradient(
    176deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(186, 182, 182, 1) 0%,
    rgba(238, 255, 254, 1) 0%,
    rgba(245, 246, 255, 1) 0%,
    rgba(243, 247, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(207, 173, 255, 1) 0%,
    rgba(230, 255, 253, 1) 100%,
    rgba(255, 0, 0, 1) 100%
  ) !important; */
}

.home-top-left > a,
.home-top-right > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-top-left {
  border-left: 8px solid #3b1f47;
}
.home-top-right {
  border-left: 8px solid #3b1f47;
}
.home-top-left .item-1,
.home-top-right .item-1 {
  text-align: center;
}
/* on hover */
.home-top-left .item-1:hover,
.home-top-right .item-1:hover {
  cursor: pointer;
}
.home-top-left .item-1 h5,
.home-top-right .item-1 h5 {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 16px;
  color: #7c7c7c;
}
.home-top-left .item-1 h3,
.home-top-right .item-1 h3 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 2.8rem;
  color: #85c1e9;
}
.home-middle {
  display: flex;
  align-items: center;
  min-height: 30rem;
  margin-bottom: 2%;
  margin-top: 2%;
  /* background-color: chartreuse; */
}
.home-middle-left,
.home-middle-right {
  width: 35%;
  /* background-color: blue; */
}
.home-middle-left {
  margin-right: 3%;
}
.home-middle-left-top {
  height: 13rem;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border-left: 12px solid #3b1f47;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    176deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(186, 182, 182, 1) 0%,
    rgba(238, 255, 254, 1) 0%,
    rgba(245, 246, 255, 1) 0%,
    rgba(243, 247, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 173, 202, 1) 0%,
    rgba(230, 255, 253, 1) 0%,
    rgba(255, 224, 224, 1) 100%
  ); */
  position: relative;
}
.icon-position {
  position: absolute;
  left: 1em;
  top: 1em;
}
.home-middle-left-top h5 {
  font-family: 'Poppins';
  font-weight: bold;
  color: #7c7c7c;
  font-size: 1.1rem;
}
.home-middle-left-top h2 {
  font-family: 'Poppins';
  font-weight: 400;
  color: #474249;
  font-size: 18px;
  color: #d3d2d4;
}
.home-middle-left-top h3 {
  font-family: 'Fredoka One', cursive;
  font-weight: bolder;
  font-size: 2.8rem;
  color: #000;
}
.home-middle-left-bottom {
  height: 13rem;
  margin-top: 8%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border-left: 12px solid #3b1f47;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    176deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(186, 182, 182, 1) 0%,
    rgba(238, 255, 254, 1) 0%,
    rgba(245, 246, 255, 1) 0%,
    rgba(243, 247, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 252, 254, 1) 1%,
    rgba(0, 255, 239, 1) 89%,
    rgba(230, 255, 253, 1) 100%
  ); */
  position: relative;
}

.home-middle-left-bottom h5 {
  font-family: 'Poppins';
  font-weight: bold;
  color: #7c7c7c;
  font-size: 1.1rem;
}
.home-middle-left-bottom h3 {
  font-family: 'Fredoka One', cursive;
  font-weight: bolder;
  font-size: 2.8rem;
  color: #000;
}

.home-middle-right-top {
  height: 13rem;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border-left: 12px solid #3b1f47;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    176deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(186, 182, 182, 1) 0%,
    rgba(238, 255, 254, 1) 0%,
    rgba(245, 246, 255, 1) 0%,
    rgba(243, 247, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 173, 202, 1) 0%,
    rgba(230, 255, 253, 1) 0%,
    rgba(255, 224, 224, 1) 100%
  ); */
  position: relative;
}
.home-middle-right-top h5 {
  font-family: 'Poppins';
  font-weight: bold;
  color: #7c7c7c;
  font-size: 1.1rem;
}
.home-middle-right-top h2 {
  font-family: 'Poppins';
  font-weight: 400;
  color: #474249;
  font-size: 18px;
  color: #d3d2d4;
}
.home-middle-right-top h3 {
  font-family: 'Fredoka One', cursive;
  font-weight: bolder;
  font-size: 2.8rem;
  color: #000;
}
.home-middle-right-bottom {
  height: 13rem;
  margin-top: 8%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border-left: 12px solid #3b1f47;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    176deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(186, 182, 182, 1) 0%,
    rgba(238, 255, 254, 1) 0%,
    rgba(245, 246, 255, 1) 0%,
    rgba(243, 247, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 173, 202, 1) 0%,
    rgba(230, 255, 253, 1) 0%,
    rgba(255, 224, 224, 1) 100%
  ); */
  position: relative;
}
.home-middle-right-bottom h5 {
  font-family: 'Poppins';
  font-weight: bold;
  color: #7c7c7c;
  font-size: 1.1rem;
}
.home-middle-right-bottom h3 {
  font-family: 'Fredoka One', cursive;
  font-weight: bolder;
  font-size: 2.8rem;
  color: #000;
}

.home-bottom .div1 {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.dashboard_time {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* table css start */
thead tr {
  width: 100%;
}
thead tr th {
  font-family: 'Poppins';
  /* font-weight: bold; */
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 0.1rem;
  width: 10rem;
  font-size: 0.875rem !important;
  letter-spacing: 0.01071em !important;
  background-color: #3b1f47 !important;
  padding: 16px !important;
}
tbody tr td {
  font-family: 'Poppins' !important;
  font-size: 0.875rem !important;
  letter-spacing: 0.01071em !important;
  padding: 16px !important;
  width: 15rem;
  font-weight: 400 !important;
  line-height: 1.43 !important;
}
tbody tr td a {
  color: black;
}
.table > :not(caption) > * > * {
  padding: 0.3rem;
}
/* table css end */

/* material ui table css */
.MuiTableCell-stickyHeader {
  background-color: #3b1f47 !important;
  color: white !important;
}
/* material ui table css end */
/* Home Page Css End */

/* Vendor Page Css Start */
.myorders-outer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.myorders-inner-div {
  width: 98%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  margin-top: 4%;
  padding: 1rem;
  border-radius: 1em;
  /* height: 90vh; */
}

.rmsc {
  --rmsc-main: #4285f4;
  --rmsc-hover: #f1f3f5;
  --rmsc-selected: #e2e6ea;
  --rmsc-border: #ccc;
  --rmsc-gray: #aaa;
  --rmsc-bg: #fff;
  --rmsc-p: 10px; /* Spacing */
  --rmsc-radius: 4px; /* Radius */
  --rmsc-h: 10px; /* Height */
}

.select-item > input[type='checkbox'] {
  width: 34px !important;
  height: 34px;
  border: 4px solid #ffcb9a !important;
}
.btn-position {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.btn-position button {
  width: 20%;
  height: 40px;
  border-radius: 999px;
  background-color: #230132;
  color: white;
  font-family: 'Poppins';
  outline: none !important;
  border: none;
}
tbody td button {
  outline: none;
  border: none;
  background-color: transparent;
  border: 2px solid #230132;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.settleButton {
  outline: none;
  border: none;
  background-color: transparent;
  border: 2px solid #230132;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

tbody td button:hover {
  background-color: #3b1f47;
  color: #fff !important;
}

.searchStyle {
  width: 30%;
  padding-left: 10px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 1px solid #aaa;
  height: 45px;
}
.SearchInput {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  height: 45px;
  font-family: 'Poppins';
  font-size: 18px;
}
.myorders-inner-div .nav .nav-item .nav-link {
  font-family: 'Poppins';
  color: #7c7c7c;
}
.myorders-inner-div .nav .nav-item .nav-link.active {
  font-family: 'Poppins';
  color: #000 !important;
}
.myorders-inner-div ul {
  border: none;
}
.myorders-inner-div ul .nav-item .nav-link {
  border: none;
  outline: none;
}
.myorders-inner-div ul .nav-item .nav-link.active {
  border: none;
  outline: none;
  border-bottom: 3px solid #3b1f47;
}
.vendor-inner-div {
  margin-top: 4%;
}
.add-vendor button {
  width: 15%;
  height: 50px;
  font-family: 'Poppins';
  background-color: #230132 !important;
  margin-top: 3%;
  margin-left: 3%;
}
/* Vendor Page Css End */

/* VendoraddForm css start */
.vendor-form-1,
.vendor-form-2 {
  box-shadow: none !important;
  width: 98% !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vendor-form2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
.vendor-form-1 form {
  width: 50%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.vendor-form-2 form {
  width: 50%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  /* overflow: hidden; */
}

.address-form form {
  width: unset;
}
.vendor-form-1 form .customSpan,
.vendor-form-2 form .customSpan {
  position: absolute;
  width: 12px;
  height: 98%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #230132;
  border-radius: 999px;
}
.vendor-form-1 h1,
.vendor-form-2 h1 {
  font-family: 'Poppins';
  margin-bottom: 2%;
  font-weight: bold;
}
.vendor-form-1 h1::after,
.vendor-form-2 h1::after {
  content: '';
  width: 100px;
  height: 2px;
  display: block;
  background-color: #000;
}
.vendor-form-1 form div,
.vendor-form-2 form div {
  margin: 2.4% 0;
  width: 100% !important;
}
.vendor-form-1 form div input {
  width: 100%;
  margin-top: 4px;
  height: 45px;
  border: 1px solid #f2f2f2;
  font-family: 'Poppins';
  padding-left: 12px;
  border-radius: 4px;
}
.vendor-form-1 form div input::placeholder,
.vendor-form-2 form div input::placeholder {
  font-size: 1rem !important;
}
.vendor-form-1 form .submitBtn,
.vendor-form-2 form .submitBtn {
  float: right;
  width: 40%;
  height: 45px;
  font-family: 'Poppins';
  background-color: #230132 !important;
}
.vendor-form-1 input:focus,
.vendor-form-2 input:focus {
  outline: none !important;
  border: none;
}
.vendor-form-1 form div label,
.vendor-form-2 form div label {
  font-family: 'Poppins';
  color: #999;
  font-weight: 400 !important;
}
.vendor-form-2 {
  pointer-events: none;
  display: none;
}
.hide__form1 {
  display: none;
  pointer-events: none;
}
.show-form2 {
  display: block;
  pointer-events: all;
}
.vendor-form .form-group {
  width: 40%;
  font-family: 'Poppins';
  padding: 1%;
}

.vendor-form .form-group {
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  justify-content: space-between;
  padding: 1%;
}
.vendor-form .form-group label {
  font-weight: bold;
  padding-right: 1rem;
}
.vendor-form .form-group select {
  width: 80%;
  font-weight: bold;
  padding-right: 1rem;
  height: 45px;
  border: 1px solid #f2f2f2;
  font-family: 'Poppins';
  padding-left: 12px;
  border-radius: 4px;
}
/* VendorAdd css end */

/*Update Vendor*/
.vendor-update {
  overflow-y: scroll !important ;
  width: 80% !important;
  justify-content: center;
}
.update-form-vendor {
  display: flex;
  margin: 1% 0 !important;
}
.update-form {
  flex-direction: row;
  width: 100% !important;
}
.datePicker-vendor div {
  border: 0px !important;
  display: flex;
  justify-content: flex-end;
}
/*update vendor css end*/

/*productlist and Productadd Css start*/
.productlist-inner-div {
  margin-top: 4%;
  position: relative;
}
.add-product button {
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: -1%;
  width: 15%;
  height: 50px;
  font-family: 'Poppins';
  background-color: #230132 !important;
}
.productlist-inner-div-form {
  box-shadow: none !important;
  width: 98% !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #3cfc45; */
}
.productlist-inner-div-form form {
  width: 50%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.productlist-inner-div-form form .customSpan {
  position: absolute;
  width: 12px;
  height: 98%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #230132;
  border-radius: 999px;
}
.productlist-inner-div-form h1 {
  font-family: 'Poppins';
  margin-bottom: 2%;
  font-weight: bold;
}
.productlist-inner-div-form h1::after {
  content: '';
  width: 100px;
  height: 2px;
  display: block;
  background-color: #000;
}
.productlist-inner-div-form form div {
  margin: 2.4% 0;
  /* width: 100% !important; */
}
.productlist-inner-div-form form div input {
  width: 100%;
  margin-top: 4px;
  height: 45px;
  border: 1px solid #f2f2f2;
  font-family: 'Poppins';
  padding-left: 12px;
  border-radius: 4px;
}
.productlist-inner-div-form form div input::placeholder {
  font-size: 1rem !important;
}
.productlist-inner-div-form form .submitBtn {
  float: right;
  width: 40%;
  height: 45px;
  font-family: 'Poppins';
  background-color: #230132 !important;
}
.productlist-inner-div-form input:focus {
  outline: none !important;
  border: none;
}
.productlist-inner-div-form form div label {
  font-family: 'Poppins';
  color: #999;
  font-weight: 400 !important;
}
.productadd-form .form-group {
  font-family: 'Poppins';
  padding: 1%;
  display: flex;
  align-items: center;
}
.productadd-form .form-group label {
  font-weight: bold;
  margin-right: 1rem;
}
.productadd-form .form-group option {
  width: 100%;
  margin-top: 4px;
  height: 45px;
  border: 1px solid #f2f2f2;
  font-family: 'Poppins';
  padding-left: 12px;
  border-radius: 4px;
}
/*Update Vendor*/
.vendor-update {
  overflow-y: scroll !important ;
  width: 40%;
  justify-content: center;
}
.update-form {
  width: 100% !important;
}
/*productlist and Productadd Css end*/

/* deliverymanage and delivery boy add Css start */
.deliveryboy-inner-div {
  margin-top: 4%;
  position: relative;
}
.add-delivery-boy button {
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: -1%;
  width: 20%;
  height: 50px;
  font-family: 'Poppins';
  background-color: #230132 !important;
}
.deliveryboy-inner-div-form {
  box-shadow: none !important;
  width: 98% !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #3cfc45; */
}
.deliveryboy-inner-div-form form {
  width: 50%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.deliveryboy-inner-div-form form {
  width: 50%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  /* overflow: hidden; */
}
.deliveryboy-inner-div-form form .customSpan {
  position: absolute;
  width: 12px;
  height: 98%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #230132;
  border-radius: 999px;
}
.deliveryboy-inner-div-form h1 {
  font-family: 'Poppins';
  margin-bottom: 2%;
  font-weight: bold;
}
.deliveryboy-inner-div-form h1::after {
  content: '';
  width: 100px;
  height: 2px;
  display: block;
  background-color: #000;
}
.deliveryboy-inner-div-form form div {
  margin: 2.4% 0;
  width: 100% !important;
}
.deliveryboy-inner-div-form form div input {
  width: 100%;
  margin-top: 4px;
  height: 45px;
  border: 1px solid #f2f2f2;
  font-family: 'Poppins';
  padding-left: 12px;
  border-radius: 4px;
}
.deliveryboy-inner-div-form form div input::placeholder {
  font-size: 1rem !important;
}
.deliveryboy-inner-div-form form .submitBtn {
  float: right;
  width: 40%;
  height: 45px;
  font-family: 'Poppins';
  background-color: #230132 !important;
}
.deliveryboy-inner-div-form input:focus {
  outline: none !important;
  border: none;
}
.deliveryboy-inner-div-form form div label {
  font-family: 'Poppins';
  color: #999;
  font-weight: 400 !important;
}
.addDeliveryboy-form .form-group {
  width: 40%;
  font-family: 'Poppins';
  padding: 1%;
}
.addDeliveryboy-form .form-group label {
  font-weight: bold;
}
.DisableDeliveryBoyBtn {
  width: 100%;
  height: 45px;
  font-family: 'Poppins';
  background-color: #230132 !important;
}
/* deliverymanage and delivery boy add Css End */

/* Payment Settlement Css start */
.paymentsettle-inner-div {
  margin-top: 4%;
  position: relative;
  width: 100%;
}
.payment-settlement-inputs {
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: -1%;
  padding: 1%;
  font-family: 'Poppins';
  border-radius: 999px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  width: 70%;
}
.payment-settlement-inputs .payment-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-form .form-group {
  width: 25%;
  font-family: 'Poppins';
  padding: 1%;
}
.payment-form .form-group label {
  font-weight: bold;
}
.payment-form button {
  margin-bottom: 0;
}
.model_settle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.model_settle_details {
  text-align: center;
}
.modelTableDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modelTable {
  text-align: left !important;
}
.modelTable td,
th {
  width: max-content;
}
.Modal {
  margin-left: 0;
}
.no-box-shadow {
  box-shadow: none !important;
}
.DateSelectSubmitBtn,
.SettlePayBtn {
  /* float: right; */
  width: 15%;
  height: 45px;
  font-family: 'Poppins';
  background-color: #230132 !important;
}
.SettlePayBtn {
  width: 100%;
}
.main-root-settlement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-root-second {
  display: flex;
  width: 26%;
  justify-content: center;
  align-items: center;
}

/* Payment Settlement Css End */

/* signup-Login-form css start */
.signup-login-outer-div {
  margin: 0;
}
.signup-login-form-div {
  box-shadow: none !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup-login-form-div form {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  min-width: 500px;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.signup-login-form-div > .heading-login {
  margin: 5%;
}

.signup-login-form-div form .customSpan {
  position: absolute;
  width: 12px;
  height: 98%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #230132;
  border-radius: 999px;
}
.signup-login-form-div h1 {
  font-family: 'Poppins';
  margin-bottom: 2%;
  font-weight: bold;
}
.signup-login-form-div h1::after {
  content: '';
  width: 100px;
  height: 2px;
  display: block;
  background-color: #000;
}
.signup-login-form-div form div {
  margin: 2.4% 0;
  width: 100% !important;
}
.signup-login-form-div form div input {
  width: 100%;
  margin-top: 4px;
  height: 45px;
  border: 1px solid #f2f2f2;
  font-family: 'Poppins';
  padding-left: 12px;
  border-radius: 4px;
}
.signup-login-form-div form div input::placeholder {
  font-size: 1rem !important;
}
.signup-login-form-div form .signup-loginBtn {
  float: right;
  width: 35%;
  height: 45px;
  font-family: 'Poppins';
  background-color: #230132 !important;
}
/* signup-login-form css end */

/* Sales Report Css Start */
.dateclass,
a {
  cursor: pointer;
}
/* Sales Report Css End */

/* CustomerDetails and OrderDetails common CSS start */
.details-outer-div {
  margin-top: 2%;
}
.details-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.details-div-left {
  width: 100%;
  padding: 2%;
  display: flex;
  font-family: 'Poppins';
}

.assign-btn {
  margin-left: 2%;
  padding: 1%;
  background-color: #77d86a;
  color: white;
  font-family: 'Poppins';
  border-radius: 999px;
  outline: none;
  width: fit-content;
  border: none;
}
.details-content {
  margin-left: 3%;
  width: 100%;
}
.details-content h2,
.details-content h5 {
  font-weight: bold;
  color: #575353;
}
.details-content p {
  color: #7c7c7c;
}
/* CustomerDetails and OrderDetails Common CSS End */

/* Customer Details Css Start */
.customer-details-content-outer-div {
  margin-top: 3% !important;
  margin-left: 3% !important;
  padding-bottom: 2%;
}
.customer-details-content-outer-div-top {
  width: 60%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.customer-details-content-outer-div-top .customer-details-content {
  display: flex;
  justify-content: space-between;
  /* width: 95%; */
}
.customer-details-content h4,
.customer-details-content p {
  padding: 5%;
  font-weight: bold;
  color: #575353;
  margin: 0;
}
.customer-details-content p {
  font-weight: normal;
}
.customer-details-content-outer-div-bottom {
  margin-top: 3%;
}
.customer-details-content-outer-div-bottom button {
  margin-right: 7%;
  width: 15%;
  height: 50px;
  font-family: 'Poppins';
  background-color: #230132 !important;
}
.customer-details-content .content {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
/* CustomerDetails Css End */

/* Banner Css Start */
.banner-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4%;
}
.bannerTop {
  height: 20rem;
  display: flex;
  border-bottom: 1px solid lightgray;
  justify-content: center;
}
.bannerTop-left {
  width: 50%;
  border-right: 1px solid lightgray;
  overflow: hidden;
  position: relative;
}
.bannerTop-left > i {
  position: absolute;
  right: 2px;
  color: #3cfc45;
}
.bannerTop-left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.bannerTop-right {
  width: 50%;
  display: grid;
  place-items: center;
}
.banner-form {
  width: 100%;
  display: grid;
  place-items: center;
}
.banner-form-group {
  width: 75% !important;
}
.bannerBottom {
  height: max-content;
  background-color: greenyellows;
  padding-top: 30px;
}
.banner-images {
  margin: 2rem;
  display: flex;
  justify-content: center;
  width: fit-content;
}
.banner-images > .banner-btns {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-images > .banner-btns > button {
  width: 35%;
  outline: none;
  border: none;
  border-radius: 999px;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #3b1f47;
  color: white;
  font-weight: 500;
  font-family: 'Poppins';
}
.banner-images > .banner-btns > button:hover {
  background-color: #26132e;
}
/* Banner Css End */

/* Review Css start */

.reviewImage {
  width: 400px;
  height: 350px;
  mix-blend-mode: multiply;
  position: fixed;
  right: 2%;
}
.reviewMain-div {
  padding: 1rem;
  padding-top: 2rem;
  /* background-color: #aaa; */
  position: relative;
}
.reviewDiv {
  display: flex;
  /* background-color: #3cfc45; */
  width: 60%;
  border: 1px solid #dec1eb;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}
.reviewDiv > .reviewImg {
  margin-right: 5px;
}
.reviewDescription {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #77d86a; */
  padding-top: 12px;
}
.reviewDescription-text > h3,
.reviewDescription-text > p {
  font-family: 'Poppins';
  color: #3a4a55;
}
.reviewDescription-text > p {
  font-family: 'Poppins';
  padding-left: 10px;
}
.reviewDescription-Btn {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.reviewDescription-Btn button {
  width: 40%;
  height: 50px;
  font-family: 'Poppins';
  background-color: #230132;
}

.reviewDescription-Btn > .disabled-btn {
  filter: grayscale(100%);
  pointer-events: none;
  background-color: #787171;
  /* background: unset; */
}

/* modal */
.ReviewSure-text {
  width: fit-content;
  /* background-color: #aaa; */
  padding-left: 10px;
  padding-bottom: 5px;
}
.ReviewSure-text h6 {
  font-weight: normal;
  font-family: 'Poppins';
}
.ReviewSure-text button {
  width: 25%;
  height: 45px;
  font-family: 'Poppins';
  background-color: #230132 !important;
  margin-left: 10px;
  text-align: center;
}
.my-popup-content {
  margin: auto;
  background: #ffffff;
  width: fit-content !important;
  height: 10rem;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
/* Review Css end */

/* Coupon Section Css Start */
.coupon-area-outer {
  height: 100vh;
}
.coupon-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 5%;
}
.couponImage {
  position: absolute;
  right: 3rem;
  width: 300px;
  transform: rotate(20deg);
}
.coupon-form {
  width: 95%;
  display: flex;
  /* justify-content: center; */
  /* padding-top: 1rem; */
  margin-bottom: 1rem;
  overflow-y: scroll;
  border: 1px dashed #aaa;
  /* margin-left: 1rem; */
  padding-bottom: 5%;
}
.coupon-form::-webkit-scrollbar {
  display: none;
}
.coupon-form form {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
  position: relative;
}
.coupon-form form .form-group {
  margin: 2.4% 0;
  width: 100% !important;
}
.coupon-form form .form-group label {
  font-family: 'Poppins';
}
.coupon-form form .customSelect {
  width: 100%;
  margin-top: 4px;
  height: 45px;
  border: 1px solid #f2f2f2;
  font-family: 'Poppins';
  padding-left: 12px;
  border-radius: 4px;
}
.coupon-form form div input {
  width: 100%;
  margin-top: 4px;
  height: 45px;
  border: 1px solid #f2f2f2;
  font-family: 'Poppins';
  padding-left: 12px;
  border-radius: 4px;
}

.makeStyles-textField-6 {
  width: 100% !important;
  margin: 0 !important;
}
.makeStyles-textField-4 {
  width: 100% !important;
}
.coupon-form form div input ::placeholder {
  font-size: 0.4rem !important;
}
.coupounBtn {
  width: 25%;
  height: 50px;
  font-family: 'Poppins';
  background-color: #230132 !important;
  color: #fff;
  /* text-transform: uppercase; */
  font-size: 1.5rem;
}
.available-coupon {
  width: 100%;
  padding: 2rem;
  height: 50%;
  border-top: 1px solid violet;
}
.coupon-details {
  display: flex;
  justify-content: space-between;
  border: 2px solid violet;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.coupon-details-btn {
  /* background: purple; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-left: 1px solid violet;
}
.coupon-details-btn button {
  width: 25%;
  height: 45px;
  font-family: 'Poppins';
  background-color: #230132 !important;
  margin-left: 10px;
  text-align: center;
}
/* Coupon Section Css End */

/* extra */
.only-cards {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
}

/* Back button css */
.backButton {
  position: absolute;
  top: 0%;
  left: 0%;
}

/* Notification */
.notificationDiv {
  display: flex;
  /* background-color: #3cfc45; */
  width: 80%;
  height: fit-content;
  /* height: 200px; */
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #dec1eb;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.notificationDescription-text {
  text-align: left !important;
}
.notificationDescription-text > h5 {
  font-size: medium;
}
.notificationDescription-text > h4 {
  font-family: 'Poppins';
  color: #3a4a55;
  font-size: medium;
}
.notificationDescription-text > h6,
h4,
h3 .notificationDescription-text > p {
  font-family: 'Poppins';
  color: #3a4a55;
  font-size: small;
}
.notificationDescription-text > p {
  font-family: 'Poppins';
  padding-left: 10px;
}
/* notification css end */
